@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Hide scrollbar for a cleaner scrollytelling experience */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
